@using jQuery.Validation.Unobtrusive.Native.Demos.Models
@model RequiredModel
@section scripts
{
    @Scripts.Render("~/bundles/jquery-validation", "~/bundles/validate-form")
}

<h4>Required</h4>

<p>Here is how the <code>Required</code> attribute works with jQuery.Validation.Unobtrusive.Native.</p>

<h4>Example</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.TextBox, "Something must be entered:")
    @Html.TextBoxFor(x => x.TextBox, true)

    @Html.LabelFor(x => x.DropDownList, "An option must be selected:")
    @Html.DropDownListFor(x => x.DropDownList, true, new List<SelectListItem> {
        new SelectListItem{ Text = "Please select", Value = "" },
        new SelectListItem{ Text = "An option", Value = "An option"}
    })
    
    <div class="control-group">
        @Html.LabelFor(x => x.RadioButton, "A radio button must be selected:", new { @class="control-label" })

        <div class="controls">
            <label class="radio inline" for="RequiredString_Yes">
                @Html.RadioButtonFor(x => x.RadioButton, true, "Yes", new { id = "RequiredString_Yes" })
                Yes
            </label>
            <label class="radio inline" for="RequiredString_No">
                @Html.RadioButtonFor(x => x.RadioButton, true, "No", new { id = "RequiredString_No" })
                No
            </label>
        </div>
    </div>

    <p class="text-left">
        <button type="submit" class="btn">Submit</button>
        <button type="reset" class="btn btn-inverse">Reset</button>
    </p>
}

