@using jQuery.Validation.Unobtrusive.Native.Demos.Models
@model DateModel
@section scripts
{
    @Scripts.Render("~/bundles/jquery-validation")
    <script>
        $("form").validate({
            submitHandler: function (form) {
                alert("This is a valid form!");
            }
        });

    </script>
}

<h3>@ViewBag.Title</h3>

<p>If a property is a <code>DateTime</code> then jQuery.Validate.Unobtrusive.Native applies the <a href="http://jqueryvalidation.org/date-method/" target="_blank">date</a> validation method in jQuery Validation.  This validation will also be applied for <code>Nullable&lt;DateTime&gt;</code>s.  <code>DateTime</code>s also have the <a href="http://jqueryvalidation.org/date-method/" target="_blank">required</a> validation method in jQuery Validation applied (as a <code>DateTime</code> in .NET always has a value).</p>

<ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a data-toggle="tab" href="#demo">Demo</a></li>
    <li><a data-toggle="tab" href="#model">Model</a></li>
    <li><a data-toggle="tab" href="#view">View</a></li>
    <li><a data-toggle="tab" href="#controller">Controller</a></li>
    <li><a data-toggle="tab" href="#html">HTML</a></li>
    <li><a data-toggle="tab" href="#javascript">JavaScript</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="demo">
        @using (Html.BeginForm())
        {
            <div class="row">
                @Html.LabelFor(x => x.DateTime, "DateTime - a date must be entered:")
                @Html.TextBoxFor(x => x.DateTime, true)
            </div>

            <div class="row">
                @Html.LabelFor(x => x.NullableDateTime, "Nullable DateTime - only dates can be entered:")
                @Html.TextBoxFor(x => x.NullableDateTime, true)
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="reset" class="btn btn-info">Reset</button>
            </div>
        }

    </div>

    <div class="tab-pane" id="model">
        
        <p>Here's the model, note we have a DateTime and a Nullable DateTime:</p>

        <pre class="prettyprint cs">
    using System.ComponentModel.DataAnnotations;

    namespace jQuery.Validation.Unobtrusive.Native.Demos.Models
    {
        public class DateModel
        {
            public DateTime DateTime { get; set; }
            public DateTime? NullableDateTime { get; set; }
        }
    }
        </pre>
    </div>

    <div class="tab-pane" id="view">
        
        <p>Here's the view (which uses the model):</p>

        <pre class="prettyprint cs">
    @@model jQuery.Validation.Unobtrusive.Native.Demos.Models.DateModel
    @@using (Html.BeginForm())
    {
        &lt;div class="row"&gt;
            @@Html.LabelFor(x =&gt; x.DateTime, "DateTime - a date must be entered:")
            @@Html.TextBoxFor(x =&gt; x.DateTime, true)
        &lt;/div&gt;

        &lt;div class="row"&gt;
            @@Html.LabelFor(x =&gt; x.NullableDateTime, "Nullable DateTime - only dates can be entered:")
            @@Html.TextBoxFor(x =&gt; x.NullableDateTime, true)
        &lt;/div&gt;

        &lt;div class="row"&gt;
            &lt;button type="submit" class="btn btn-default"&gt;Submit&lt;/button&gt;
            &lt;button type="reset" class="btn btn-info"&gt;Reset&lt;/button&gt;
        &lt;/div&gt;
    }
        </pre>

    </div>

    <div class="tab-pane" id="controller">
        
        <p>Here's the (relevant parts) of the controller. Note the DateTime being initialised with todays date:</p>

        <pre class="prettyprint cs">
    using System;
    using System.Web.Mvc;
    using jQuery.Validation.Unobtrusive.Native.Demos.Models;

    namespace jQuery.Validation.Unobtrusive.Native.Demos.Controllers
    {
        public class DemoController : Controller
        {
            // ...

            public ActionResult Date()
            {
                return View(new DateModel { DateTime = DateTime.Today } );
            }

            // ...
        }
    }
        </pre>
    </div>

    <div class="tab-pane" id="html">
        
        <p>Here's the HTML that the view generates (nb DateTime has been initialised to a value):</p>

        <pre class="prettyprint html">
    &lt;form action="/Demo/Date" method="post"&gt;
        &lt;div class="row"&gt;
            &lt;label for="DateTime"&gt;DateTime - a date must be entered:&lt;/label&gt;
            &lt;input data-msg-date="The field DateTime must be a date." data-msg-required="The DateTime field is required." 
                data-rule-date="true" data-rule-required="true" 
                id="DateTime" name="DateTime" type="text" value="02/08/2013 00:00:00" /&gt;
        &lt;/div&gt;
        &lt;div class="row"&gt;
            &lt;label for="NullableDateTime"&gt;Nullable DateTime - only dates can be entered:&lt;/label&gt;
            &lt;input data-msg-date="The field NullableDateTime must be a date." data-rule-date="true" 
                id="NullableDateTime" name="NullableDateTime" type="text" value="" /&gt;
        &lt;/div&gt;
        &lt;div class="row"&gt;
            &lt;button type="submit" class="btn btn-default"&gt;Submit&lt;/button&gt;
            &lt;button type="reset" class="btn btn-info"&gt;Reset&lt;/button&gt;
        &lt;/div&gt;
    &lt;/form&gt;
        </pre>
    </div>
    
    <div class="tab-pane" id="javascript">
        
        <p>Here's the JavaScript that initialises the validation:</p>

        <pre class="prettyprint js">
  $("form").validate({
      submitHandler: function (form) {
          alert("This is a valid form!");
      }
  });
        </pre>

    </div>

</div>

<p>It's worth noting that the jQuery Validation documentation says of the date validation method:</p> 

<blockquote>"This method should not be used, since it relies on the <code>new Date</code> constructor, which behaves very differently across browsers and locales. Use dateISO instead or one of the locale specific methods (in localizations/ and additional-methods.js)."</blockquote>

<p>If you have a modern browser you should be able to rely on the date constructor to <a href="http://es5.github.io/#x15.9.1.15" target="_blank">happily parse ISO 8601 date strings</a>.  However, if you want to patch the jQuery Validation date validation to be locale specific regardless then take a look  @Html.ActionLink("here", "Globalize", "AdvancedDemo").</p>
