<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Reilly">
    <meta name="keywords" content="ASP.Net MVC, validation, jQuery, jquery-validate.js, unobtrusive">
    <title>@if (ViewBag.Title != null) {<text>@ViewBag.Title - </text>}jQuery Validation Unobtrusive Native</title>
    @RenderSection("metatags", required: false)
    @Styles.Render("~/bundles/css")
    <link href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">jVUN</a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    @Html.RenderMenuItem("Getting Started", "GettingStarted", "Home")
                    <li><a href="http://blog.icanmakethiswork.io/2013/10/migrating-from-jquery.validate.unobtrusive.js-to-jQuery.Validation.Unobtrusive.Native.html" target="_blank">Migrating</a></li>
                    @Html.RenderMenuItem("Download", "Download", "Home")
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.RenderMenuItem("Overview", "Index", "Demo")
                            <li class="divider"></li>
                            @Html.Partial("_PartialDemoMenuItems")
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advanced Demos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.RenderMenuItem("Overview", "Index", "AdvancedDemo")
                            <li class="divider"></li>
                            @Html.Partial("_PartialAdvancedDemoMenuItems")
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main" class="container">

        @RenderBody()

    </div>

    <div id="footer">
        <div class="container">
            <p class="muted">
                &#169; 2013 <a href="http://blog.icanmakethiswork.io" target="_blank">John Reilly</a>
                · <a href="mailto:johnny_reilly@hotmail.com">Contact</a>
                · @Html.ActionLink("License", "License", "Home")
            </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <a href="https://github.com/johnnyreilly/jQuery.Validation.Unobtrusive.Native" class="hidden-xs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
</body>
</html>
