<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>jQuery Validation Unobtrusive Native - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("metatags", required: false)
    @Styles.Render("~/Content/bootstrap/base", "~/Content/css")
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">jVUN</a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    @Html.RenderMenuItem("Home", "Index", "Home")
                    @Html.RenderMenuItem("Getting Started", "GettingStarted", "Home")
                    @Html.RenderMenuItem("Download", "Download", "Home")
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.RenderMenuItem("Overview", "Index", "Demo")
                            <li class="divider"></li>
                            @Html.Partial("_PartialDemoMenuItems")
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advanced Demos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.RenderMenuItem("Overview", "Index", "AdvancedDemo")
                            <li class="divider"></li>
                            @Html.Partial("_PartialAdvancedDemoMenuItems")
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main" class="container">

        @RenderBody()

    </div>

    <div id="footer">
        <div class="container">
            <p class="muted">
                &#169; 2013 <a href="http://icanmakethiswork.blogspot.com" target="_blank">John Reilly</a>
                · <a href="mailto:johnny_reilly@hotmail.com">Contact</a>
                · @Html.ActionLink("License", "License", "Home")
            </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>
</html>
