<li class="dropdown-header">Type Validations</li>
@Html.RenderMenuItem("Number", "Number", "Demo")
@Html.RenderMenuItem("Date", "Date", "Demo")
<li class="dropdown-header">Attribute Validations</li>
@Html.RenderMenuItem("Required", "Required", "Demo")
@Html.RenderMenuItem("MaxLength / MinLength", "MaxLengthMinLength", "Demo")
@Html.RenderMenuItem("EqualTo", "EqualTo", "Demo")
@Html.RenderMenuItem("URL", "Url", "Demo")
@Html.RenderMenuItem("Email", "Email", "Demo")
@Html.RenderMenuItem("CreditCard", "CreditCard", "Demo")
@Html.RenderMenuItem("Remote", "Remote", "Demo")
<!--
<li class="divider"></li>
<li class="dropdown-header">Other Demos</li>
@Html.RenderMenuItem("Dynamic content", "Dynamic", "Demo")
-->