<li class="dropdown-header">Type Validations</li>
@Html.RenderMenuItem("Number", "Number", "Demo")
@Html.RenderMenuItem("Date", "Date", "Demo")
<li class="dropdown-header">Attribute Validations</li>
@Html.RenderMenuItem("Required", "Required", "Demo")
@Html.RenderMenuItem("URL", "Url", "Demo")
<!--
<li class="divider"></li>
<li class="dropdown-header">Other Demos</li>
@Html.RenderMenuItem("Dynamic content", "Dynamic", "Demo")
-->